<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8" />
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet/less" type="text/css" href="cv.less">
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"
        integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        //setTimeout(() => location.reload(), 3000);
        let profileName = new URLSearchParams(location.search).get("p") || "backend.json";
        jQuery.ajaxSettings.cache = false;
        $(() => {
            let template = _.template($("#profileTemplate").html());
            $.ajax(profileName).done(profile => $("body").html(template(profile)));
        });
    </script>
    <script type="text/html" id="profileTemplate">
        <header>
            <h1>Consultant Profile</h1>
            <h2>Daniel Lidström</h2>
        </header>
        <div id="content">
            <section>
                <p><%= head %></p>
                <section class="skills-section">
                    <h1>Skills</h1>
                    <p>
                        <ul>
                            <% _.each(skills, skill => { %>
                                <li><%= skill %></li>
                            <% }); %>
                        </ul>
                    </p>
                </section>
                <section class="assignments-section">
                    <h1>Assignments and Dates</h1>
                    <% _.each(assignments, assignment => { %>
                        <article>
                            <header>
                                <h2>
                                    <span class="assignment-role"><%= assignment.title %></span>
                                    <span><%= assignment.company %></span>
                                    <span class="assignment-header-years">
                                        <%= assignment.years %>
                                    </span>
                                </h2>
                            </header>
                            <p class="assignment-description">
                                <%= assignment.description %>
                            </p>
                            <div class="tech-list-container">
                                <span class="tech-list-header">Technologies:</span>
                                <ul class="tech-list">
                                    <% _.each(assignment.technologies, tech => { %>
                                    <li><%= tech %></li>
                                    <% }); %>
                                </ul>
                            </div>
                        </article>
                    <% }); %>
                </section>
            </section>
        </div>
        <aside>
            <% _.each(sidebarSections, sidebarSection => { %>
            <section>
                <h1><%= sidebarSection.title %></h1>
                <ul>
                    <% _.each(sidebarSection.items, item => { %>
                        <li><%= item %></li>
                    <% }); %>
                </ul>
            </section>
            <% }); %>
        </aside>
        <hr class="clear" />
        <footer>
            <span>Proudly designed by Daniel Lidström using <img class="html5-logo" src="HTML5 Logo Badge.svg"></img></span>
        </footer>
    </script>
</head>

<body>
</body>

</html>
