* {
    border: 1px dashed red;
}

/* body */
body {
    font-family: Helvetica;
    &::after {
        clear: both;
    }
}

/* header */
header {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

/* content */
#content {
    float: left;
    max-width: 60%;
}

/* aside */
aside {
    float: left;
}
