@content-width: 60%;

@font-face {
    font-family: 'HK Grotesk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('HK Grotesk Regular'), url('fonts/HKGrotesk-Regular.otf') format('woff');
}

/* body */
body {
    font-family: 'HK Grotesk Regular';
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    hyphens: auto;
    -webkit-hyphens: auto;
}

h1 {
    font-size: 2rem;
}

article {
    margin-top: 1rem;

    h1 {
        font-size: 1.5rem;
    }
}

/* header */
header {
    margin: 1rem 0;
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

footer {
    margin: 2rem auto;
    text-align: center;
    .html5-logo {
        height: 1rem;
        vertical-align: middle;
    }
}

hr.clear {
    border: none;
    clear: both;
}

/* content */
.skills-section {
    margin-top: 1rem;
    ul {
        padding-left: 1rem;
    }
}

.assignments-section {
    margin-top: 1rem;

    article {
        margin: 1rem 0;
        border-left: 4px solid lightgrey;
        padding-left: 1rem;
    }

    .assignment-title {
        margin-bottom: 1rem;
    }

    .assignment-description {
        margin-bottom: 1rem;
    }

    .tech-list-container {
        position: relative;
        line-height: 2rem;
        .tech-list-header {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        ul.tech-list {
            display: block;
            margin-left: 8rem;
            li {
                width: auto;
                list-style-type: none;
                border-radius: 3px;
                background-color: rgba(175, 175, 175, 0.5);
                color: black;
                display: inline-block;
                line-height: 1.2rem;
                font-weight: 500;
                padding: 0.1rem 0.3rem;
                vertical-align: baseline;
                margin-right: 0.1rem;
                text-transform: capitalize;
            }
        }
    }

    .assignment-role:after {
        content: " - ";
    }

    .assignment-header-years {
        font-size: 1.2rem;
        color: grey;
    }
}

/* aside */
aside {
    float: right;
    width: 25%;
    border: 3px solid lightgray;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    section:not(:first-child) {
        margin-top: 1rem;
    }
    h1 {
        font-size: 1rem;
    }
    li {
        position: relative;
        list-style-type: none;
        // margin-left: 0.5rem;
        &:before {
            position: absolute;
            left: -0.5rem;
            content: "\00b7";
        }
    }
}
